@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-[768px] px-4 mx-auto;
  }
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
